.pagewrapper{
    height: 620px;
    width: 100%;
    background-color: palevioletred;
}
body{
    margin: 0px;
}
.card{
    height: 400px;
    width: 300px;
    background-color: peachpuff;
    margin-left: 10%;
    margin-top: 100%;
}