.body{
    height: 500px;
    width: 70%;
    background-color: white;
    margin-top: 100px;
    margin-left: 150px;
}
.resetpswcontainer{
    height: 480px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-top: 64px !important;
    border-radius: 8px;
}
.indication{
    height: 50px;
    background-color: #fff3cd;
    color: #856404;
    font-size: 16px;
    border-radius: 5px;
    padding-top: 12px;
}
.resetlable{
    margin-top:40px ;
}
.resetlable{
    margin-top:40px !important ;
}