.signupcontainer{
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-top: 25px !important; 
  
    border-radius: 8px;
}
h3{
    
    font-size: 20px;
}
.input-group{
    border: none !important;
   
}
.fa-user, .fa-mobile, .fa-key, .fa-envelope{
    color: #3c8dbc;
}
.subButton,.inputBox{
    
    background: transparent !important;
	border: solid 1px #3c8dbc !important;
	color: #999999 !important;
    transition: 0.5s;
   
}
.subButton:hover{
    background: #3c8dbc !important;
    color: #ffffff !important;
}
.b1{
    margin-top: 15px;
}

.lable1, .lable2, .lable3, .lable4, .lable5, .lable6{
    margin-left: 0px;
}