.profilebg{
    height: 800px;
    margin-left: 37px;
}
.profile{
    height: 265px;
    background-color:  #fafafa;
    margin-top: -100px;
    margin-top: 20px;
    box-shadow: 4px 4px 7px #ddd;
    border-radius: 10px;
    margin-left: 15px;
}
h3{
    color: #3c8dbc;
    /* font-weight: bold; */
}
.sideframe{
    height: 117px;
    width: 155px;
    position: absolute;
    margin-left: -516px;
    margin-top: 13px;
}
.rightsideframe{
    height: 117px;
    width: 155px;
    position: absolute;
    float: right;
    transform: rotateZ(180deg);
    margin-top: 132px;
    margin-left: -168px;
    
}
.profileImg{
    height: 169px;
    background-color: transparent;
    margin-top: 68px;
    background-image: url(/static/media/student1.b1aee7d4.jpg);
    background-size: 100% 100%;
    margin-left: 26px !important;
    background-repeat: no-repeat;
    width: 158px !important;
    border-top-left-radius: 35px ;
    border-bottom-right-radius: 35px;
    transition: 1s;
    
}
.profileImg:hover{
  transform: scale(1.1);
    
}
.profileInfo{
    height: 230px;
    background-color: #fafafa;
    margin-top: 0px;
    margin-left: 10px;
    text-align: left;
    color: #666;
}
.profileInfo h4{
    text-align: left;
}
.profileInfo span{
    text-align: right;
}
h1{
    /* color:#333333!important; */
    font-weight: bold;
    transition: 3s;
}
h1:hover{
    color: rgb(26, 56, 101)ue;
    font-weight: bold;
    transform:rotateX(360deg);
}
.edit{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background-color: #fff;
}
/* .fa-edit{
    color: blue;
    font-size: 15px;
} */
.profileactions{
    position: absolute;
    font-size: 15px;
    margin-left: 624px;
    margin-top: -26px;
    cursor: pointer;
    
}
.delete{
    color: orangered;
}
.edit{
    color: #3c8dbc;
}
.titlehead{
    padding-top: 10px;
    margin-left: 10px;
    
}