.App {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #666;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.asterik{
  color:#f00;
}
label{
  color: #999 !important;
}
.login{
  background-color: #3c8dbc;
  height: 610px;
}
.boy{
  height: 360px;
  float: left;
  margin-top: 198px;
  position: absolute;
  margin-left: -464px;
}
.boy2{
  height: 360px;
  float: left;
  margin-top: -344px;
  position: absolute;
  margin-left: 198px;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
